/* Some simple custom styles */
.search-box {
  margin-top: 30px;
  margin-bottom: 50px;
}

.search-box input,
.search-box .react-datepicker-wrapper {
  width: 100%;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

input.form-control,
input.form-control:hover,
input.form-control:focus,
input.form-control:active {
  border: 1px solid #ccc;
}

.panel {
  border: 1px solid #ccc;
}

.card {
  margin-top: 50px;
  padding: 25px;
}

.card button {
  width: 100px;
}

.results-heading {
  margin-top: 50px;
  margin-bottom: 50px;
}
